<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17947113904-f31k88pom0k14a936lmdir7sp61b1dfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17947113904-f31k88pom0k14a936lmdir7sp61b1dfj</string>
	<key>API_KEY</key>
	<string>AIzaSyDitcFI3u5ZoWWXxv-FHnz0Wns9PVm1ZFw</string>
	<key>GCM_SENDER_ID</key>
	<string>17947113904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thunchanok.Spatula</string>
	<key>PROJECT_ID</key>
	<string>spatula-cookbook</string>
	<key>STORAGE_BUCKET</key>
	<string>spatula-cookbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17947113904:ios:98b34c7cd97760c9c43e75</string>
</dict>
</plist>